.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  line-height: 1.8;
}

.startBtn {
  text-align: center;
  background-color: #ffffff;
  color: #000;
  padding: 8px 10px;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  width: auto;
}

.startBtn:hover {
  background-color: transparent;
  color: rgb(238, 233, 233);
}
